<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo reference="base_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="computer_link">
    <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="camera_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="left_wheel_link">
    <material>Gazebo/Black</material>
    <mu1>5.0</mu1>
    <mu2>5.0</mu2>
    <kp>1000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="right_wheel_link">
    <material>Gazebo/Black</material>
    <mu1>5.0</mu1>
    <mu2>5.0</mu2>
    <kp>1000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <xacro:if value="$(arg is_ignition)">
    <gazebo>
      <plugin filename="ign_ros2_control-system"
              name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find racademy_controller)/config/racademy_controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:if>

  <xacro:unless value="$(arg is_ignition)">
    <gazebo>
      <plugin filename="gz_ros2_control-system"
              name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find racademy_controller)/config/racademy_controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:unless>

</robot>
